@font-face {
  font-family: "Play";
  src: url("fonts/Play-Bold.eot");
  src: local("Play-Bold"), url("fonts/Play-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("fonts/Play.eot");
  src: local("Play"), url("fonts/Play.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("fonts/OpenSans-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: black;
  color: white;
  font-family: "Play", sans-serif;
}
.flex {
  display: flex;
}
.container {
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
