@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .clients__column-1 {
    padding-left: 18px;
    min-width: 80px;
  }
  .clients__column-2 {
    min-width: 218px;
  }
  .clients__column-3 {
    min-width: 98px;
  }
  .clients__column-4 {
    min-width: 98px;
  }
  .clients__column-5 {
    min-width: 129px;
  }
  .clients__column-6 {
    min-width: 113px;
  }
  .clients__column-7 {
    min-width: 105px;
  }
  .boxCol6 {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .header__input {
    display: none;
  }
  .header {
    padding-top: 0px;
    padding-bottom: 16px;
    margin: 0 auto;
    overflow: hidden;
  }
  .header__container {
    justify-content: center;
    max-width: 320px;
  }
  .header__logo {
    margin-right: 0;
    width: 24px;
    height: 24px;
  }
  .clients__title {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .clients {
    padding-top: 21px;
  }
}
