@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amatic SC Regular";
  src: url("../fonts/amatic_sc_regular.eot");
  src: url("../fonts/amatic_sc_regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/amatic_sc_regular.woff2") format("woff2"),
    url("../fonts/amatic_sc_regular.woff") format("woff");
}

@font-face {
  font-family: "Amatic SC Bold";
  src: url("../fonts/amatic_sc_bold.eot");
  src: url("../fonts/amatic_sc_bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/amatic_sc_bold.woff2") format("woff2"),
    url("../fonts/amatic_sc_bold.woff") format("woff");
}

@font-face {
  font-family: "El Messiri";
  src: url("ElMessiri-Regular.eot");
  src: local("ElMessiri-Regular"), url("ElMessiri-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 1500px;
  /* outline: 1px solid blue; */
}
ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn__reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
