@font-face {
    font-family: 'Balsamiq Sans';
    src: local('Balsamiq Sans Regular'), local('Balsamiq-Sans-Regular'),
        url('BalsamiqSans-Regular.woff2') format('woff2'),
        url('BalsamiqSans-Regular.woff') format('woff'),
        url('BalsamiqSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }